<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="se.rrva.gitlab.pipeline.notifier.logging.JsonLoggingLayout">
                <jsonFormatter
                        class="se.rrva.gitlab.pipeline.notifier.logging.JacksonJsonFormatter">
                </jsonFormatter>
                <appendLineSeparator>true</appendLineSeparator>
            </layout>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JSON" />
        <queueSize>1000</queueSize>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>